# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Gaspra.Functions.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Git\Gaspra.Functions\src\.idea\.idea.Gaspra.Functions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
