source https://api.nuget.org/v3/index.json

storage: none
framework: netcore3.1, netstandard2.1

nuget Gaspra.Connection
nuget Gaspra.Logging.Builder
nuget Gaspra.Signing
nuget Microsoft.Extensions.Hosting
nuget System.Data.Sqlclient